.clinic-portal {
  /*display: block;*/
  width: 66.6%;
}

.clinic-update {
  height: 100vh;
  border-right: 1px solid black;

}

.clinic-update .title {
  display: flex;
  font-size: 36px;
  padding-bottom: 38px;
  justify-content: space-around;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 2px -2px gray;
}

.clinic-update .set-time {
  font-size: 26px;
  padding-top: 48px;
  display: grid;
  justify-content: center;
}

.clinic-update .number-selector {
  margin-top: 48px;
  box-shadow: 0 4px 2px -2px gray;
}

.clinic-update .update-button {
  border-radius: 5px;
  width: 50%;
  margin-left: 25%;
  margin-top: 46px;
  box-shadow: 0 4px 2px -2px gray;
}

.patient-list {
  float:right;
}

