.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.button {
  padding: 0;
  display: flex;
  justify-content: space-around;
  height:30px;
  width:50%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  background: #3880A5;
}

.link {
  text-align: center;
  justify-content: space-around;
}

/*.styles_overlay__CLSq- {
  background: none;
}*/

.styles_modal__gNwvD {
  max-width: 800px;
  position: relative;
  padding: 1.2rem;
  background: #ffffff;
  background-clip: padding-box;
  box-shadow: 0 0px 15px 0 rgba(47, 47, 47, 0.25);
}