.list-item {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-bottom-right-radius: 5px;
  margin-bottom: 3px;
  box-shadow: 0 4px 2px -2px gray;

}

.list-item:hover {
  background-color: #7ABDC7;
}

.name-placeholder {
  width: 70%;
  font-size: 26px;
  font-family: 'Cinzel', serif;
  margin-left: 40px;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wait-placeholder {
  font-family: 'Cinzel', serif;
  float: right;
  margin-right: 20px;
  margin-top: -25px;
}

.info-placeholder {
  word-wrap:break-word;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin-left: 31px;
}