.list-item {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-bottom-right-radius: 5px;
  margin-bottom: 3px;
  background-color: rgb(56,128,165, 0.1);
  box-shadow: 0 4px 2px -2px gray;

}

.list-item:hover {
  background-color: rgb(253,155,39, 0.3);
  border-bottom: 3px solid #3880A5;
  border-right: 3px solid #3880A5;
  border-bottom-right-radius: 5px;
}

.name-placeholder {
  width: 65%;
  font-size: 26px;
  font-family: 'Cinzel', serif;
  margin-left: 40px;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wait-placeholder {
  font-family: 'Cinzel', serif;
  float: right;
  margin-right: 20px;
  margin-top: -25px;
}

.info-placeholder {
  word-wrap:break-word;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin-left: 31px;
}

.unique-list-item {
  background: rgb(206,45,57, 0.3);
}