/*body {
background-color: #4d899c;
opacity: 0.7;
height:100%;
}
*/
.loading {
  display: flex;
  justify-content: center;
  width: 100%;

}

.loading img {
  margin-top: 15%;
  width:20%;
  animation: App-logo-spin infinite 4000ms linear;
  opacity: 0.5;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-text {
  font-size: 60px;
  font-family: 'Cookie', cursive;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  transform: rotate(-1deg);
}

